# Dependencies
node_modules/
venv/
backend/venv/

# Python
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
**/*.pyo
.pytest_cache/
**/.pytest_cache/

# Environment variables
.env
.env.*
.env.local
!.env.example
!backend/.env.example
!frontend/.env.example

# Build folders
dist/
build/

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Database
*.sqlite3
