# Dependencies
node_modules/
venv/
backend/venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# Build folders
dist/
build/

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Database
*.sqlite3